/****** Object:  View [data_mis_project].[sec_application_role_permission]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [data_mis_project].[sec_application_role_permission] as
SELECT [id]
      ,[role_name]
      ,[permission_name]
      ,[creation_at]
      ,[modified_at]
      ,[created_by]
      ,[modified_by]
  FROM [data_in].[sec_application_role_permission]
GO
