/****** Object:  View [data_out_ad].[v_Employee_restricted_info]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view  [data_out_ad].[v_Employee_restricted_info] as 
SELECT [employee_id]
      --,[emergency_phone_number]
      --,[emergency_contact_type_id]
      --,[postal_code_id]
      ,[private_email]
  FROM [data_in].[employee_restricted_info]
GO
