/****** Object:  View [data_out_ad].[v_Employee_TimeOff]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [data_out_ad].[v_Employee_TimeOff]
AS
SELECT        id AS Id, request_id AS RequestId, employee_id AS EmployeeId, day_date AS TimeOffDayDate, approval_status AS TimeOffApprovalStatus, created_at AS TimeOffCreated, time_off_type AS TimeOffType, 
                         time_off_minutes AS TimeOffMinutes, assigned_minutes AS TimeOffMinutesAssigned
FROM            data_out_ad.org_emp_time_off
GO
