/****** Object:  View [data_mis].[certificate_vw]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Script for SelectTopNRows command from SSMS  ******/

create view [data_mis].[certificate_vw] as 
SELECT [id]
      ,[name]
      ,[code]
      ,[technology_id]
      ,[skill_type_id]
      ,[creation_at]
      ,[modified_at]
      ,[created_by]
      ,[modified_by]
      ,[parent_id]
      ,[active_ind]
  FROM [data_in].[certificate]
GO
