/****** Object:  View [data_out_ad].[dic_roles_history]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [data_out_ad].[dic_roles_history] as 
with
tot as (SELECT [id]
      ,[employee_id]
      ,[role_name]
      ,[start_date]
      ,[end_date]
  FROM [data_in].[org_emp_old_role] 
 )

  select *
  from tot
GO
