/****** Object:  View [data_out_cornerstone].[sulu_cornerstone_position]    Script Date: 8/13/2025 4:45:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


  CREATE   VIEW [data_out_cornerstone].[sulu_cornerstone_position] AS 
  SELECT
 id as 'Pos ID',
 name as 'Pos Name'
    
  FROM [data_in].[org_emp_position]
GO
