/****** Object:  View [data_mis_project].[tmsht_time_report_vw]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [data_mis_project].[tmsht_time_report_vw] as (
select [client_id]
      ,[client_name]
      ,[project_id]
      ,[project_name]
      ,[employee_id]
      ,[employee_full_name]
      ,[day_date]
      ,[month_date]
      ,[timesheet_code_id]
      ,[timesheet_version_project_code_type]
      ,[timesheet_code_name]
      ,[timesheet_code]
      ,[multiplier]
      ,[ip_code]
      ,[minutes]
      ,[hours]
      ,[days]
      ,[comment]
      ,[timeoff]
      ,[status]
      ,[competency_id]
      ,[new_taxonomy_role_id]
      ,[seniority_id] from data_in.tmsht_time_report_vw)
GO
