/****** Object:  View [data_mis].[new_taxonomy_competency_role]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [data_mis].[new_taxonomy_competency_role] as (
select 
	   [id]
      ,[competency_id]
      ,[role_id]
      ,[creation_at]
      ,[modified_at]
      ,[created_by]
      ,[modified_by]
from data_in.new_taxonomy_competency_role)
GO
