/****** Object:  View [data_mis_project].[resource_row_status_history]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [data_mis_project].[resource_row_status_history] as (
Select [id]
      ,[resource_row_id]
      ,[new_status]
      ,[modified_by]
      ,[modified_at]
      ,[on_hold_ind] from [data_in].[resource_row_status_history])
GO
