/****** Object:  View [data_mis].[org_role_tree_dp_vw]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [data_mis].[org_role_tree_dp_vw] as
(
select 
	   [role_id]
      ,[skill_group_id]
      ,[skill_group_name]
      ,[priority_type]
      ,[skill_detail_id]
      ,[skill_detail_name]
from data_in.org_role_tree_dp_vw)
GO
