/****** Object:  View [data_mis_rls].[org_emp_education]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE view [data_mis_rls].[org_emp_education] 
WITH SCHEMABINDING
as
SELECT a.[id]
      ,a.[employee_id]
	  ,CONCAT(b.first_name,b.last_name) as employee_name
      ,a.[university_name]
      ,a.[degree_field_name]
      ,a.[start_date]
      ,a.[end_date]
      ,a.[creation_at]
      ,a.[modified_at]
      ,a.[created_by]
      ,a.[modified_by]
  FROM [data_in].[org_emp_education] a
  left join data_in.org_emp b on a.employee_id=b.id;
GO
