/****** Object:  View [data_mis_project].[tmsht]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [data_mis_project].[tmsht] as(
SELECT [id]
      ,[employee_id]
      ,[start_date]
      ,[end_date]
      ,[due_date]
      ,[week_number]
  FROM [data_in].[tmsht]
)
GO
