/****** Object:  View [data_mis_project].[valuation_version_shared]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [data_mis_project].[valuation_version_shared] as (
SELECT  [id]
      ,[valuation_version_id]
      ,[shared_to_employee_id]
      ,[creation_at]
      ,[modified_at]
      ,[created_by]
      ,[modified_by] 
FROM data_in.valuation_version_shared 
)
GO
