/****** Object:  View [data_mis].[proj_org_unit]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Script for SelectTopNRows command from SSMS  ******/
create view [data_mis].[proj_org_unit] as 
SELECT [project_organization_unit_id]
      ,[project_id]
      ,[organization_unit_id]
      ,[start_date]
      ,[end_date]
      ,[current_ind]
  FROM [data_in].[proj_org_unit]
GO
