/****** Object:  View [data_mis_project].[sulu_rebaseline_comment_fct]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [data_mis_project].[sulu_rebaseline_comment_fct] as (
SELECT 
project_id PROJ_ID
,comment REBASELINE_COMMENT
,created_by CREATED_BY
,creation_at CREATION_DATE
,modified_by MODIFIED_BY
,modified_at MODIFIED_DATE
FROM data_in.proj_rebaseline_comment
)
GO
