/****** Object:  View [data_mis].[nbp_crncy_rates]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [data_mis].[nbp_crncy_rates] AS 

SELECT [day_date]
      ,[currency_code]
      ,[rate_date]
      ,[fx_rate] 
FROM [data_in].[nbp_rate]

GO
