/****** Object:  View [data_out_ad].[dic_contract_types]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [data_out_ad].[dic_contract_types] as
with
tot as (SELECT id as ContractTypeId, code as ContractTypeCode, name as ContractTypeName
  FROM [data_in].[org_contract_type] 
 )

  select *
  from tot
GO
