/****** Object:  View [data_out_cornerstone].[sulu_cornerstone_division]    Script Date: 8/13/2025 4:45:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [data_out_cornerstone].[sulu_cornerstone_division]
as
SELECT [id] as [OU ID]
      ,[name] as [OU Name]
      ,[parent_id] as [Parent ID]

  FROM [data_in].[org_unit]
  where end_date is NULL
GO
