/****** Object:  View [data_out_cxms].[cxms_org_unit_vw]    Script Date: 8/13/2025 4:45:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [data_out_cxms].[cxms_org_unit_vw] as (
    select a.id, a.name, a.parent_id, a.start_date, a.end_date, a.unit_level as level, a.leader_id,CONCAT(b.first_name,' ',b.last_name) as leader_name, a.type
    from data_in.org_unit a
    left join data_in.org_emp b on a.leader_id  = b.id);
GO
