/****** Object:  View [data_mis].[proj_blockade]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [data_mis].[proj_blockade] as 
SELECT [id]
      ,[employee_id]
      ,[project_id]
      ,[week_number]
      ,[start_date]
      ,[end_date]
      ,[percentage]
      ,[man_days]
      ,[hours]
      ,[creation_at]
      ,[modified_at]
      ,[created_by]
      ,[modified_by]
      ,[competency_id]
      ,[role_id]
      ,[seniority_id]
      ,[resource_proposal_id]
      ,[valid_till]
  FROM [data_in].[proj_blockade]
GO
