/****** Object:  View [data_mis_project].[proj_blockade_audit_log]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [data_mis_project].[proj_blockade_audit_log] as (
select [id]
      ,[employee_id]
      ,[project_id]
      ,[week_number]
      ,[start_date]
      ,[end_date]
      ,[percentage]
      ,[man_days]
      ,[hours]
      ,[creation_at]
      ,[modified_at]
      ,[created_by]
      ,[modified_by]
      ,[rev]
      ,[revtype]
      ,[competency_id]
      ,[role_id]
      ,[seniority_id]
      ,[resource_proposal_id]
      ,[valid_till] from data_in.proj_blockade_audit_log)
GO
