/****** Object:  View [data_mis].[sulu_invc_fct]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [data_mis].[sulu_invc_fct] as(
SELECT 
	   id [INVC_ID]
      ,invoice_code [INVC_CODE]
      ,invoice_comment [INVC_CMMNT]
      ,issue_date [INVC_ISSUE_DATE]
      ,due_date [INVC_DUE_DATE]
      ,modified_at [CHNG_TIME_STAMP]
      ,modified_by [CHNG_EMPEE_ID]
      ,payment_id [PYMT_ID]
      ,delivery_date [INVC_DLVRY_DATE]
FROM data_in.fin_invoice
)
GO
