/****** Object:  View [data_mis].[org_role_skill_group_priority_dp]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [data_mis].[org_role_skill_group_priority_dp] as
(
select 
	   [role_id]
      ,[skill_group_id]
      ,[priority_type]
from data_in.org_role_skill_group_priority_dp)
GO
