/****** Object:  View [data_mis_project].[proj_client_contact]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create view [data_mis_project].[proj_client_contact]
  as
  SELECT [id]
      ,[first_name]
      ,[last_name]
      ,[client_id]
      ,[email_text]
      ,[active_ind]
      ,[created_by]
      ,[modified_by]
      ,[creation_at]
      ,[modified_at]
  FROM [data_in].[proj_client_contact]
GO
