/****** Object:  View [data_out_ad].[v_Az_Clients]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [data_out_ad].[v_Az_Clients]
AS
SELECT   data_out_ad.dic_clients.ClientId, data_out_ad.dic_clients.ClientName, data_out_ad.dic_clients.AccountManager AS AccountManager_EmployeeId, 
                         data_out_ad.dic_employees.AzADObjectId AS AccountManager_AzADObjectId, data_out_ad.dic_employees.Email AS AccountManager_Email, 
                         data_out_ad.dic_clients.SALESFORCE_ID AS SalesforceId
FROM         data_out_ad.dic_clients LEFT OUTER JOIN
                         data_out_ad.dic_employees ON data_out_ad.dic_clients.AccountManager = data_out_ad.dic_employees.EmployeeId
GO
