/****** Object:  View [data_mis].[org_country]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [data_mis].[org_country] AS 


SELECT 
	   [id]
      ,[name]
      ,[office_ind]
      ,[code]
FROM [data_in].[org_country]
GO
