/****** Object:  View [data_mis_project].[valuation_version_bm_total_amount]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [data_mis_project].[valuation_version_bm_total_amount] as
(
SELECT [valuation_version_id]
      ,[total_amount] FROM data_in.valuation_version_bm_total_amount 
)
GO
