/****** Object:  View [data_mis_project].[position_history]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [data_mis_project].[position_history] as(
select a.id
	,a.employee_id
	,a.position_id
	,b.name as position_name
	,a.start_date
	,a.end_date
	,a.creation_at
	,a.modified_at
	,a.created_by
	,a.modified_by
	from data_in.org_employee_position a
left join data_in.org_emp_position b  on a.position_id = b.id)
GO
