/****** Object:  View [data_mis].[proj_knowledge_management_form]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view  [data_mis].[proj_knowledge_management_form] as 
SELECT  [id]
      ,[project_id]
      ,[creation_at]
      ,[modified_at]
      ,[created_by]
      ,[modified_by]
  FROM [data_in].[proj_knowledge_management_form]
GO
