/****** Object:  View [data_mis].[org_emp_competency_role_new]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [data_mis].[org_emp_competency_role_new] as (
select * from data_in.org_emp_competency_role_new)
GO
