/****** Object:  View [data_mis].[org_emp_education]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [data_mis].[org_emp_education] as (




select 
		[id]
      ,[employee_id]
      ,[university_name]
      ,[degree_field_name]
      ,[start_date]
      ,[end_date]
      ,[creation_at]
      ,[modified_at]
      ,[created_by]
      ,[modified_by]
from data_in.org_emp_education)
GO
