/****** Object:  View [data_out_ad].[dic_positions_history]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [data_out_ad].[dic_positions_history] as
with
tot as (SELECT [id]
      ,[employee_id]
      ,[position_id]
      ,[start_date]
      ,[end_date]
      ,[creation_at]
      ,[modified_at]
  FROM [data_in].[org_employee_position] 
 )

  select *
  from tot
GO
