/****** Object:  UserDefinedFunction [data_out_ad].[fn_LEAP_GetEmployeeNominationSuggestion]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:        Alex Sen
-- Create date:   2024-08-08
-- Description:   Return
-- =============================================
CREATE FUNCTION [data_out_ad].[fn_LEAP_GetEmployeeNominationSuggestion]
(
    -- Add the parameters for the function here
    @EmployeeId INT,
    @ProjectReportingStartFrom DATE
)
RETURNS @ResultTable TABLE 
(
    [EmployeeId] BIGINT,
    [ProjectId] BIGINT,
    [Actuals_Hours] DECIMAL(38, 5),
    [Actuals_Days] DECIMAL(38, 5),
    [PMDL_EmployeeId] BIGINT,
    [Role] NVARCHAR(50),
    [ProjectName] NVARCHAR(500)
)
AS
BEGIN
    -- Declare a temporary table variable
    DECLARE @TempTable TABLE
    (
        EmployeeId BIGINT,
        ProjectId BIGINT,
        Actuals_Hours DECIMAL(38, 5),
        Actuals_Days DECIMAL(38, 5)
    );

    -- Insert data into the temporary table
    INSERT INTO @TempTable
    SELECT 
        t1.[EmployeeId], 
        t1.[ProjectId], 
        SUM(t1.[Actuals_Hours]) AS [Actuals_Hours], 
        SUM(t1.[Actuals_Days]) AS [Actuals_Days]
    FROM 
    (
        SELECT 
            timesheets.[employee_id] AS [EmployeeId], 
            timesheets.[project_id] AS [ProjectId], 
            timesheets.[days] * 24 AS [Actuals_Hours], 
            timesheets.[days] AS [Actuals_Days]
        FROM 
            [data_out_ad].[proj_emp_actuals] timesheets
        WHERE 
            [project_id] > 7 
            AND [employee_id] = @EmployeeId 
            AND EOMONTH(DATEFROMPARTS([year], [month], 1)) >= @ProjectReportingStartFrom
    ) t1
    GROUP BY  
        t1.[EmployeeId],
        t1.[ProjectId];

    -- Insert data into the result table with PM role
    INSERT INTO @ResultTable
    SELECT 
        t.EmployeeId,
        t.ProjectId,
        t.Actuals_Hours,
        t.Actuals_Days,
        [PM_EmployeeId] AS [PMDL_EmployeeId],
        'PM' AS [Role],
        [ProjectName]
    FROM 
        @TempTable t 
    INNER JOIN 
        [data_out_ad].[v_Projects] projectsData 
    ON 
        t.ProjectId = projectsData.ProjectId
    
    UNION ALL

    -- Insert data into the result table with DL role
    SELECT 
        t.EmployeeId,
        t.ProjectId,
        t.Actuals_Hours,
        t.Actuals_Days,
        [DL_EmployeeId] AS [PMDL_EmployeeId],
        'DL' AS [Role],
        [ProjectName]
    FROM 
        @TempTable t 
    INNER JOIN 
        [data_out_ad].[v_Projects] projectsData 
    ON 
        t.ProjectId = projectsData.ProjectId;

    RETURN;
END;
GO
