/****** Object:  View [data_mis].[proj_dictionary]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [data_mis].[proj_dictionary] as 
SELECT [id]
      ,[name]
      ,[type]
      ,[existing_dictionary_ind]
      ,[creation_at]
      ,[modified_at]
      ,[created_by]
      ,[modified_by]
  FROM [data_in].[proj_dictionary]
GO
