/****** Object:  View [data_mis_project].[org_emp_old_role]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [data_mis_project].[org_emp_old_role] as (
select id
		,employee_id
		,role_name
		,start_date
		,end_date
		,creation_at
		,modified_at
		,created_by
		,modified_by
from data_in.org_emp_old_role
)
GO
