/****** Object:  View [data_mis].[proj_engagement_type]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [data_mis].[proj_engagement_type] as (
select 
		[id]
      ,[name]
      ,[active_ind]
      ,[description]
from data_in.proj_engagement_type)
GO
