/****** Object:  View [data_mis].[employee_competency_role]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [data_mis].[employee_competency_role] as (
select 
		[id]
      ,[employee_id]
      ,[priority]
      ,[level]
      ,[creation_at]
      ,[modified_at]
      ,[created_by]
      ,[modified_by]
      ,[preference]
      ,[competency_role_id]
      ,[seniority_id]
from data_in.employee_competency_role )
GO
