/****** Object:  View [data_mis_project].[sulu_rebaseline_reason_lkp]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [data_mis_project].[sulu_rebaseline_reason_lkp] as(
SELECT
 	id REASON_ID
	,reason_text REASON_TXT
	,active_ind ACTV_IND
FROM data_in.proj_rebaseline_reason

)
GO
