/****** Object:  View [data_mis].[sulu_le_lkp]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view  [data_mis].[sulu_le_lkp] as
(
SELECT [id]
      ,[name]
      ,[calendar_id]
      ,[accounting_pdl]
      ,[hr_pdl]
      ,[staff_management_pld]
FROM data_in.org_legal_entity)
GO
