/****** Object:  View [data_mis_project].[BrAIn_project]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [data_mis_project].[BrAIn_project] as(
SELECT project_id  
	  ,a.[name] as project_name
	  ,b.name as client_name
      ,[start_date]
      ,[end_date]
 FROM [data_in].[proj] a 
  left join data_in.proj_clnt b on a.client_id=b.id)
GO
