/****** Object:  View [data_mis].[emp_skill_picking_completion_dp]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [data_mis].[emp_skill_picking_completion_dp] as (
SELECT [id]
      ,[employee_id]
      ,[completion_date_time]
      ,[creation_at]
      ,[modified_at]
      ,[created_by]
      ,[modified_by]
  FROM [data_in].[emp_skill_picking_completion_dp])
GO
