/****** Object:  View [data_mis_rls].[org_emp_vw]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Script for SelectTopNRows command from SSMS  ******/
CREATE view [data_mis_rls].[org_emp_vw] 
with schemabinding
as 
SELECT [id]
      ,[ldap_login]
      ,[employee_full_name]
      ,[line_manager_id]
      ,[line_manager]
      ,[phone_number]
      ,[email]
      ,[position]
      ,[location]
      ,[pg_user_name_deprecated]
      ,[pg_t_number_deprecated]
      ,[gender_code]
      ,[nationality]
      ,[role]
      ,[active_ind]
      ,[functional_manager_id]
      ,[functional_manager]
      ,[employment_date]
      ,[contract_termination_date]
      ,[contract_type]
      ,[approval_required]
      ,[legal_entity]
      ,[fte]
      ,[org_unit_id]
      ,[org_unit_name]
      ,[team_id]
      ,[team_name]
      ,[delivery_team_id]
      ,[delivery_team_name]
      ,[senior_delivery_team_id]
      ,[senior_delivery_team_name]
      ,[sub_bu_id]
      ,[sub_bu_name]
      ,[bu_id]
      ,[bu_name]
      ,[create_ip_ind]
      ,[gender]
      ,[photo_ind]
      ,[allow_photo_usage_ind]
      ,[primary_competency_name]
      ,[country]
      ,[city]
      ,[country_work_location]
      ,[city_id]
      ,[country_id]
      ,[ad_object_id]
      ,[az_ad_object_id]
      ,[az_ad_account_enabled_ind]
      ,[leave_ind]
      ,[country_work_location_id]
      ,[team_leader_ind]
      ,[team_owner_ind]
      ,[management_community_member_ind]
      ,[org_unit_area]
      ,[project_manager_ind]
      ,[service_level_manager_ind]
      ,[competency_name]
      ,[role_name]
      ,[seniority_id]
      ,[seniority_name]
      ,[technical_account_ind]
      ,[position_id]
      ,[creation_at]
      ,[external_ind]
      ,[external_type]
      ,[vendor_ind]
      ,[shift_time]
      ,[resource_row_id]
      ,[postal_code]
      ,[draft_profile_ind]
  FROM [data_in].[org_emp_vw]
GO
