/****** Object:  View [data_mis].[org_emp_soft_skill]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE view [data_mis].[org_emp_soft_skill] as
(
select a.id
,employee_id
,soft_skill_id
,name as soft_skill_name
,priority_id
,priority 
,skill_level_id
,d.[level] as skill_level
,a.creation_at
,a.modified_at
,a.created_by
,a.modified_by
from data_in.org_emp_soft_skill a
left join data_in.org_soft_skill b on a.soft_skill_id = b.id
left join data_in.skill_priority c on a.priority_id = c.id
left join data_in.new_taxonomy_skill_level d on a.skill_level_id = d.id
)
GO
