/****** Object:  View [data_out_leap].[v_LegalEntity]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [data_out_leap].[v_LegalEntity] as
SELECT id as [Id]
      ,name as [Name]
  FROM [data_mis].[sulu_le_lkp]
GO
