/****** Object:  View [data_mis].[certificate]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [data_mis].[certificate] as (
select 
	   [id]
      ,[name]
      ,[code]
      ,[technology_id]
      ,[skill_type_id]
      ,[creation_at]
      ,[modified_at]
      ,[created_by]
      ,[modified_by]
      ,[parent_id]
      ,[active_ind]
from data_in.certificate)
GO
