/****** Object:  View [data_mis].[org_unit]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [data_mis].[org_unit]
as
SELECT [id] as [org_unit_id]
      ,[name] as [org_unit_name]
      ,[parent_id] as [org_unit_parnt_id]
      ,[start_date]
      ,[end_date]
      ,[unit_level]
      ,[type]
      ,[leader_id] as [leadr_emp_id]
  FROM [data_in].[org_unit]
GO
