/****** Object:  Table [data_in].[list_src_sink_adf]    Script Date: 8/13/2025 4:45:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [data_in].[list_src_sink_adf](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[src_db] [nvarchar](50) NOT NULL,
	[src_schema] [nvarchar](255) NOT NULL,
	[src_table] [nvarchar](255) NOT NULL,
	[sink_schema] [nvarchar](255) NOT NULL,
	[sink_table] [nvarchar](255) NOT NULL,
	[rt_ind] [int] NOT NULL,
	[LongLoadFlag] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [data_in].[list_src_sink_adf] ADD  CONSTRAINT [DF_list_src_sink_adf_rt_ind]  DEFAULT ((0)) FOR [rt_ind]
GO
