/****** Object:  View [data_mis].[proj_answer]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [data_mis].[proj_answer] as
SELECT [id]
      ,[form_id]
      ,[question_id]
      ,[type]
      ,[value]
      ,[custom_answer]
      ,[creation_at]
      ,[modified_at]
      ,[created_by]
      ,[modified_by]
      ,[is_optional_ind]
  FROM [data_in].[proj_answer]
GO
