/****** Object:  View [data_mis].[proj_resource_row_language_vw]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [data_mis].[proj_resource_row_language_vw]
AS
SELECT 
	a.id
	,a.resource_row_id
	,a.language_id
	,b.name AS language_name
	,a.skill_level_id AS skill_level
	,c.[level] AS skill_level_name
	,a.required_ind
	,a.creation_at
	,a.modified_at
	,a.created_by
	,d.employee_full_name AS created_by_name
	,a.modified_by
	,d.employee_full_name AS modified_by_name
FROM data_in.proj_resource_row_language AS a 
LEFT OUTER JOIN data_in.language AS b ON a.language_id = b.id 
LEFT OUTER JOIN data_in.new_taxonomy_skill_level AS c ON a.skill_level_id = c.id 
LEFT OUTER JOIN data_in.org_emp_vw AS d ON a.created_by = d.id AND a.modified_by = d.id
WHERE EXISTS (
	SELECT 1 
	FROM data_mis_project.sec_emp_all_permission 
	WHERE permission_name = 'PERM_RESOURCE_READ' AND email = USER_NAME()) 
OR IS_MEMBER('db_owner') = 1
GO
