/****** Object:  View [data_mis_project].[tmsht_version_project_bench]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [data_mis_project].[tmsht_version_project_bench] as (
select [id]
      ,[timesheet_version_id]
      ,[project_id]
      ,[bench_bookings]
      ,[bench_actuals]
      ,[non_bench_actuals] from data_in.tmsht_version_project_bench)
GO
