/****** Object:  View [data_mis].[pbi_list_mng]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE view [data_mis].[pbi_list_mng] AS

select line_manager_id ID, '1' IS_MANAGER from data_in.org_emp_vw
UNION
select functional_manager_id, '1' IS_MANAGER from data_in.org_emp_vw
UNION 
select manager_id ID, '1' IS_MANAGER from data_in.proj
UNION
select manager_id ID, '1' IS_MANAGER from data_in.proj

GO
