/****** Object:  View [data_mis].[org_role_aspect_skill]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [data_mis].[org_role_aspect_skill] as (
select 
		[id]
      ,[role_aspect_id]
      ,[skill_id]
      ,[skill_detail_id]
      ,[skill_level_id]
      ,[required_ind]
      ,[creation_at]
      ,[modified_at]
      ,[created_by]
      ,[modified_by]
from [data_in].[org_role_aspect_skill]
)
GO
