/****** Object:  View [data_mis].[org_emp_position]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [data_mis].[org_emp_position]
AS
SELECT id, name, active_ind, order_number
FROM     data_in.org_emp_position AS org_emp_position_1
GO
