/****** Object:  View [data_out_cornerstone].[sulu_cornerstone_legal_entity]    Script Date: 8/13/2025 4:45:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  Create   VIEW [data_out_cornerstone].[sulu_cornerstone_legal_entity] AS 
  SELECT
	id as 'LE ID',
	[name] as 'LE Name'
    
  FROM [data_in].[org_legal_entity]
GO
