/****** Object:  View [data_out_ad].[v_Positions]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE View [data_out_ad].[v_Positions] as
SELECT [PositionId] as [Id]
      ,[PositionName] as [Name]
  FROM [data_out_ad].[dic_positions]

GO
