/****** Object:  View [data_mis].[org_contract_type]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [data_mis].[org_contract_type] AS 

SELECT 
		[id]
      ,[code]
      ,[name]
FROM [data_in].[org_contract_type]
GO
