/****** Object:  View [data_out_ad].[dic_org_structure]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [data_out_ad].[dic_org_structure] as(
SELECT [id]
      ,[name]
      ,[parent_id]
      ,[start_date]
      ,[end_date]
      ,[unit_level]
      ,[type]
      --,[leader_id]
      --,[dc_ind]
      --,[area]
      --,[team_level] 

  FROM [data_in].[org_unit]
 )
GO
