/****** Object:  View [data_mis].[org_city]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [data_mis].[org_city] AS 

SELECT 
	   [id]
      ,[name]
      ,[country_id]
FROM [data_in].[org_city]
GO
