/****** Object:  View [data_mis].[proj_project_status_history]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [data_mis].[proj_project_status_history]
as select
[project_id]
	,[status]
	,[change_time_stamp]
	,[change_by_employee_id] 
	from data_in.proj_project_status_history

GO
