/****** Object:  View [data_mis_project].[sulu_proj_sched_fct]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE view [data_mis_project].[sulu_proj_sched_fct] as (
select [id]
      ,[project_id]
      ,[name]
      ,[start_date]
      ,[end_date]
      ,[task_type]
      ,[task_status]
      ,[display_order]
      ,[created_by]
      ,[modified_by]
      ,[creation_at]
      ,[modified_at] from data_in.proj_project_schedule)
GO
