/****** Object:  View [data_mis_project].[valuation_version_row_detail]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [data_mis_project].[valuation_version_row_detail] as
(
SELECT [id]
      ,[valuation_version_row_id]
      ,[month_date]
      ,[fte]
      ,[man_days]
      ,[hours]
      ,[cross_charge_per_hour]
      ,[client_rate_per_hour]
      ,[creation_at]
      ,[modified_at]
      ,[created_by]
      ,[modified_by]
      ,[first_day_of_week]
      ,[hibernate_version]
FROM data_in.valuation_version_row_detail 
)
GO
