/****** Object:  View [data_mis].[org_skill_group_proficiency_condition_set_dp]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [data_mis].[org_skill_group_proficiency_condition_set_dp] as(
select 
	   [id]
      ,[skill_group_proficiency_definition_id]
      ,[condition_type]
      ,[number_of_skills]
      ,[set_number]
      ,[minimum_proficiency_level]
      ,[active_ind]
      ,[creation_at]
      ,[modified_at]
      ,[created_by]
      ,[modified_by]
from data_in.org_skill_group_proficiency_condition_set_dp
)
GO
