/****** Object:  View [data_mis_project].[proj_contract_vw]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [data_mis_project].[proj_contract_vw] as (
select [id]
      ,[name]
      ,[project_id]
      ,[type]
      ,[client_contract_number]
      ,[internal_contract_number]
      ,[sign_date]
      ,[estimated_revenue]
      ,[estimated_margin]
      ,[estimated_cost]
      ,[storage_link]
      ,[currency_code]
      ,[modified_at]
      ,[modified_by]
      ,[creation_at]
      ,[created_by]
      ,[modifiedy_by_employee]
      ,[created_by_employee]
      ,[valuation_id]
      ,[version_number]
      ,[valuation_name] from [data_in].[proj_contract_vw])
GO
