/****** Object:  View [data_out_ad].[dic_project_members]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [data_out_ad].[dic_project_members] as
with
project_managers as (SELECT project_id as ProjectId,proj_manager_id as EmployeeId, 'PROJECT_MANAGER' as [Role]
  FROM data_mis.proj
 )

  select *
  from project_managers
GO
