/****** Object:  View [data_mis_project].[proj_client_employee_rate]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [data_mis_project].[proj_client_employee_rate] as
(
select [id]
      ,[employee_id]
      ,[project_id]
      ,[currency_code]
      ,[rate_start_date]
      ,[rate_end_date]
      ,[rate]
      ,[comment]
      ,[client_id]
      ,[client_rate_id]
      ,[client_rate_card_id]
      ,[is_manual_override]
      ,[creation_at]
      ,[modified_at]
      ,[created_by]
      ,[modified_by] from data_in.proj_client_employee_rate)

GO
