/****** Object:  View [data_out_ad].[v_Az_Employees_ClientIDs]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [data_out_ad].[v_Az_Employees_ClientIDs]
AS

SELECT 
  t1.privilege_user_id AS EmployeeId, 
  String_agg(
    '<' + CAST(t1.client_id AS VARCHAR) + '>', 
    ''
  ) AS ClientIds, 
  data_out_ad.v_Az_Employees.FullName, 
  data_out_ad.v_Az_Employees.Email, 
  data_out_ad.v_Az_Employees.AzADObjectId,
  data_out_ad.v_Az_Employees.IsActive
FROM 
  (
	SELECT *
	FROM (
		SELECT *
			,ROW_NUMBER() over (PARTITION BY privilege_user_id order by client_id) as [row_number]
		FROM (
		   SELECT DISTINCT
			   privilege_user_id
			  ,client_id
			FROM 
			  data_out_ad.latest_accounts 
			WHERE 
			  (privilege_user_id > 0)
		) t_clients
	) t_clients_limitted where t_clients_limitted.[row_number] <= 87 
  ) AS t1 
  LEFT OUTER JOIN data_out_ad.v_Az_Employees ON t1.privilege_user_id = data_out_ad.v_Az_Employees.EmployeeId 
GROUP BY 
  t1.privilege_user_id, 
  data_out_ad.v_Az_Employees.FullName, 
  data_out_ad.v_Az_Employees.Email, 
  data_out_ad.v_Az_Employees.AzADObjectId,
  data_out_ad.v_Az_Employees.IsActive

GO
