/****** Object:  View [data_mis_project].[valuation]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [data_mis_project].[valuation] as
(
SELECT [id]
      ,[name]
      ,[project_id]
      ,[invoicing_type_code]
      ,[owner_id]
      ,[client_id]
      ,[offer_currency_code]
      ,[creation_at]
      ,[modified_at]
      ,[created_by]
      ,[modified_by]
      ,[rate_card_id]
      ,[custom_exchange_rate]
      ,[custom_exchange_rate_comment]
	  ,opportunity_id
FROM [data_in].[valuation]
)
GO
