/****** Object:  View [data_mis_thor].[proj_opportunity]    Script Date: 8/13/2025 4:45:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE view [data_mis_thor].[proj_opportunity] as (
select 
	a.[id]
    ,a.[salesforce_id]
    ,a.[name]
    ,a.[client_id_sf]
    ,a.[stage]
    ,a.[work_start_date]
    ,a.[work_duration]
    ,a.[close_date]
    ,a.[contract_date]
    ,a.[forecast_category]
    ,a.[fc_probability]
    ,a.[type]
    ,a.[order_type]
    ,a.[work_category]
    ,a.[competitive]
    ,a.[sharepoint_link]
    ,a.[practice_area]
    ,a.[description]
    ,a.[next_step]
    ,a.[leading_business_unit]
    ,a.[leading_sub_business_unit]
    ,a.[delivery_team]
    ,a.[service_partner]
    ,a.[po_number]
    ,a.[revenue_stream_id_sf]
    ,a.[amount]
    ,a.[currency_code]
    ,a.[owner_name]
    ,a.[owner_mail]
    ,a.[opportunity_number]
    ,a.[band]
    ,a.[band_level]
    ,a.[creation_at]
    ,a.[modified_at]
    ,a.[created_by]
    ,a.[modified_by]
    ,a.[contact_id_sf]
    ,a.[owner_id_sf]
    ,a.[owner_id]
    ,a.[created_by_sf]
    ,a.[creation_date_sf]
    ,a.[modified_by_sf]
    ,a.[last_modification_date_sf]
    ,a.[sow_attached_ind]
    ,a.[pricing_file_attached_ind]
    ,a.[reason]
    ,a.[other_reason]
    ,a.[leading_technology_partner]
    ,a.[verified_ind]
    ,a.[active_ind]
    ,a.[smaller_strategic]
    ,a.[top_account_big_deal]
    ,a.[new_logo]
    ,a.[action_required]
    ,a.[included_in_forecast]
    ,a.[presales_engagement]
    ,a.[presales_engagement_request_time]
    ,a.[presales_manager_one]
    ,a.[presales_manager_two]
from data_in.proj_opportunity a
left join data_in.proj_clnt b on a.client_id_sf = b.salesforce_id
where ultimate_parent_id = '0012o00002RDg2gAAD' or ultimate_parent_id='0012o00002RDg20AAD'
)
GO
