/****** Object:  View [data_mis_project].[tmsht_ver]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [data_mis_project].[tmsht_ver] as(
SELECT [id]
      ,[timesheet_id]
      ,[version_number]
      ,[status]
      ,[close_date]
      ,[legacy_timesheet_id]
      ,[changed_date]
      ,[reopen_reason]
      ,[last_version]
      ,[hibernate_version]  
  FROM [data_in].[tmsht_ver]
)
GO
