/****** Object:  View [data_mis].[org_working_day]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [data_mis].[org_working_day] as (

select 
		[day_date]
      ,[month_name]
      ,[week_name]
      ,[split_week_number]
      ,[calendar_id]
      ,[month_cnt]
      ,[week_cnt]
      ,[week_cnt_in_split]
from [data_in].[org_working_day]
)
GO
