/****** Object:  View [data_out_ad].[v_Az_Employees_Competencies]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







/****** Script for SelectTopNRows command from SSMS  ******/
CREATE VIEW [data_out_ad].[v_Az_Employees_Competencies] as
SELECT 

	employee_id as [EmployeeId], 
	STRING_AGG( '<' + CONCAT(SUBSTRING (preference, 1, 1), competency_role_id) + '>',NULL) as Competencies

FROM 
	[data_mis].[employee_competency_role] 
WHERE employee_id > 0
GROUP BY employee_id
GO
