/****** Object:  View [data_mis].[org_employee_role_aspect_dp]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [data_mis].[org_employee_role_aspect_dp] as (
select 
	   [id]
      ,[employee_id]
      ,[role_aspect_id]
      ,[seniority_id]
      ,[creation_at]
      ,[modified_at]
      ,[created_by]
      ,[modified_by]
      ,[start_date]
      ,[end_date]
from data_in.org_employee_role_aspect_dp)
GO
