/****** Object:  View [data_mis_project].[sulu_opportunity_lkp]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [data_mis_project].[sulu_opportunity_lkp] as(
select  [ID]
      ,[SALESFORCE_ID]
      ,[NAME]
      ,[CLIENT_ID_SF]
      ,[STAGE]
      ,[WORK_START_DATE]
      ,[WORK_DURATION]
      ,[CLOSE_DATE]
      ,[CONTRACT_DATE]
      ,[FORECAST_CATEGORY]
      ,[FC_PROBABILITY]
      ,[TYPE]
      ,[ORDER_TYPE]
      ,[WORK_CATEGORY]
      ,[COMPETITIVE]
      ,[SHAREPOINT_LINK]
      ,[PRACTICE_AREA]
      ,[DESCRIPTION]
      ,[NEXT_STEP]
      ,[LEADING_BUSINESS_UNIT]
      ,[LEADING_SUB_BUSINESS_UNIT]
      ,[DELIVERY_TEAM]
      ,[SERVICE_PARTNER]
      ,[PO_NUMBER]
      ,[REVENUE_STREAM_ID_SF]
      ,[AMOUNT]
      ,[CURRENCY_CODE]
      ,[OWNER_NAME]
      ,[OWNER_MAIL]
      ,[OPPORTUNITY_NUMBER]
      ,[BAND]
      ,[BAND_LEVEL]
      ,[CONTACT_ID_SF]
      ,[OWNER_ID_SF]
      ,[OWNER_ID]
      ,[CREATED_BY_SF]
      ,[CREATION_DATE_SF]
      ,[MODIFIED_BY_SF]
      ,[LAST_MODIFICATION_DATE_SF]
      ,[SOW_ATTACHED_IND]
      ,[PRICING_FILE_ATTACHED_IND]
      ,[REASON]
      ,[OTHER_REASON]
      ,[LEADING_TECHNOLOGY_PARTNER]
      ,[VERIFIED_IND]
      ,[ACTIVE_IND]
      ,[SMALLER_STRATEGIC]
      ,[TOP_ACCOUNT_BIG_DEAL]
from data_in.proj_opportunity
)
GO
