/****** Object:  View [data_mis_project].[proj_resource_row_comment]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [data_mis_project].[proj_resource_row_comment] as (
select [id]
      ,[resource_row_id]
      ,[employee_id]
      ,[text]
      ,[creation_at]
      ,[modified_at]
      ,[created_by]
      ,[modified_by]
      ,[log]
from [data_in].[proj_resource_row_comment]
)
GO
