/****** Object:  View [data_mis].[org_skill_group_dp]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [data_mis].[org_skill_group_dp] as
( 
select 
	   [id]
      ,[name]
      ,[comment]
      ,[status]
      ,[owner_id]
      ,[creation_at]
      ,[modified_at]
      ,[created_by]
      ,[modified_by]
from data_in.org_skill_group_dp)
GO
