/****** Object:  View [data_mis_project].[valuation_knowledge_management_form]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [data_mis_project].[valuation_knowledge_management_form] as
SELECT [id]
      ,[valuation_version_id]
      ,[creation_at]
      ,[modified_at]
      ,[created_by]
      ,[modified_by]
  FROM [data_in].[valuation_knowledge_management_form]
GO
