/****** Object:  View [data_out_ad].[dic_business_units]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [data_out_ad].[dic_business_units] as 
with
tot as (
SELECT id as BusinessUnitId
		,name as BusinessUnitName
		,parent_id as ParentId
		,start_date
		,end_date
FROM [data_in].[org_unit] 
where unit_level = 2
)


  select * 
  from tot
GO
