/****** Object:  View [data_out_ad].[v_Roles]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE View [data_out_ad].[v_Roles] as
SELECT [Id] as [Id]
      ,[Name] as [Name]
  FROM [data_mis].[role]

GO
