/****** Object:  View [data_mis].[org_location_calendar]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [data_mis].[org_location_calendar] AS 
SELECT a.[id]
      ,[location_id]
	  ,b.name as location_name
      ,[calendar_id]
	  ,c.name as calendar_name 
FROM [data_in].[org_location_calendar] a
left join [data_in].[org_country] b on a.location_id=b.id
left join [data_in].[org_calendar] c on a.calendar_id=c.id
;
GO
