/****** Object:  View [data_mis_project].[resource_row_detail]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [data_mis_project].[resource_row_detail] as (
Select [id]
      ,[resource_row_id]
      ,[month_date]
      ,[fte]
      ,[man_days]
      ,[hours]
      ,[competency_role_rate_per_hour]
      ,[creation_at]
      ,[modified_at]
      ,[created_by]
      ,[modified_by]
      ,[first_day_of_week] from [data_in].[resource_row_detail])
GO
