/****** Object:  View [data_out_ad].[dic_positions]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [data_out_ad].[dic_positions] as
with
tot as (SELECT id as PositionId, name as PositionName
  FROM [data_in].[org_emp_position] 
 )


  select *
  from tot
GO
