/****** Object:  View [data_mis].[org_emp_skill_with_skill_detail_vw]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [data_mis].[org_emp_skill_with_skill_detail_vw]
AS
SELECT vw.employee_id, vw.employee_full_name, vw.org_unit_id, vw.org_unit_name, vw.skill_id, vw.skill_name, vw.skill_detail_id, vw.skill_detail_name, vw.skill_level, vw.priority
FROM     data_in.org_emp_skill_with_skill_detail_vw AS vw LEFT OUTER JOIN
                  data_in.org_emp_vw AS emp ON vw.employee_id = emp.id
WHERE  (emp.active_ind = 1)
GO
