/****** Object:  View [data_mis_project].[proj_permission]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW  [data_mis_project].[proj_permission] as
SELECT [id]
      ,[project_id]
      ,[delegate_employee_id]
      ,[start_date]
      ,[end_date]
      ,[creation_at]
      ,[modified_at]
      ,[created_by]
      ,[modified_by] 
	  FROM [data_in].proj_permission
GO
