/****** Object:  View [data_out_ad].[dic_clients]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [data_out_ad].[dic_clients] as
with
tot as (
SELECT  id as ClientId
		,name as ClientName
		,account_manager_id as AccountManager
		,SALESFORCE_ID
		,ULTIMATE_PARENT_ID
		,ULTIMATE_PARENT_NAME
  FROM data_in.proj_clnt
 )

  select * 
  from tot
GO
