/****** Object:  View [data_mis].[org_technology_tag]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [data_mis].[org_technology_tag] as
SELECT [id]
      ,[technology_id]
      ,[tag_type_id]
      ,[tag_value]
      ,[creation_at]
      ,[modified_at]
      ,[created_by] 
      ,[modified_by]
  FROM [data_in].[org_technology_tag]
GO
