/****** Object:  View [data_out_ad].[v_Projects]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [data_out_ad].[v_Projects]
AS
SELECT 
  prj.ProjectId, 
  prj.ProjectName, 
  prj.CreatedDate,
  prj.ChangeDate,
  prj.StartDate, 
  prj.EndDate,
  
  prjStatus.StateCode as [StatusCode],
  prjStatus.StatusCode  as [SULUStatusCode],
  prjStatus.StatusTest   as [SULUStatusName],
  ~prjStatus.StateCode   as [DVStateCode],
  

  employees.AzADObjectId as [PM_AzADObjectId],
  employees.Email as [PM_Email], 
  employees.IsActive as [PM_IsActive], 
  employees.EmployeeId as [PM_EmployeeId], 
  CONCAT(employees.FirstName, ' ', employees.LastName) as [PM_FullName],
  prjLeaders.ORG_UNIT_LEADER_ID as [DL_EmployeeId],
  prjLeaders.az_ad_object_id as [DL_AzADObjectId],
  prj.SharepointLink as [SPOUrl],
  prj.SharepointGroupId as [M365GroupId]
FROM 
  data_out_ad.dic_projects prj

  LEFT JOIN data_out_ad.dic_project_members prjMembers 
     ON prj.ProjectId = prjMembers.ProjectId  AND prjMembers.Role = 'PROJECT_MANAGER'
  
  INNER JOIN data_out_ad.dic_employees employees
     ON employees.EmployeeId = prjMembers.EmployeeId
  
  LEFT JOIN data_out_ad.dic_project_status prjStatus 
     ON prj.Status = prjStatus.SULUStatus
  
  LEFT OUTER JOIN data_out_ad.proj_org_leader prjLeaders
     ON prj.ProjectId = prjLeaders.PROJ_ID
  
WHERE
  prj.ProjectId > 7

GO
