/****** Object:  UserDefinedFunction [rls].[fn_org_unit_test]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
CREATE FUNCTION [rls].[fn_org_unit_test](@org_unit_id int)  
RETURNS TABLE  
WITH SCHEMABINDING  
AS  
RETURN SELECT 1 AS fn_privileged_user_fn_rls_org_unit_result
WHERE
 
@org_unit_id in (
SELECT org_id
FROM  [rls].[org_unit_emp_full_path]
WHERE leader_login = USER_NAME() OR IS_ROLEMEMBER('rls_org_unit_read_all') = 1
)
GO
