/****** Object:  UserDefinedFunction [rls].[fn_account_org_unit_hier_full_path_split]    Script Date: 8/13/2025 4:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [rls].[fn_account_org_unit_hier_full_path_split]( @emp int)  
RETURNS TABLE  
WITH SCHEMABINDING  
AS  
RETURN SELECT 1 AS fn_privileged_user_fn_account_rls_org_unit_result
WHERE

--@proj in (
--SELECT proj_id
--FROM  [rls].[account_hier_full_path_split]
--WHERE proj_manager_email = SUSER_NAME()) 

--OR 
@emp in (
SELECT empee_id
FROM [rls].[org_unit_hier_full_path_split]
WHERE privilege_user_email = SUSER_NAME())

OR IS_ROLEMEMBER('rls_org_unit_read_all') = 1
GO
